imported packegs of this environemnt include:
  - python=3.10
  - jupyter=1.0.0
  - geopandas=0.12.2
  - folium=0.14.0
  - seaborn=0.12.2
  - sqlalchemy=1.4.39
  - psycopg2=2.9.3

exploratory analysis

- Are there any null values in any columns in either table?
- What date range is represented in each of the date columns? Investigate any values that seem odd.
- Is time represented with am/pm or using 24 hour values in each of the columns that include time?
- What values are there in the sumdgroup column? Are there any that are not of interest for this project?
- What are the minimum and maximum values for all the latitude and longitude columns? Do these ranges make sense, or is there anything surprising? 
- What is the range of values for trip duration and trip distance? Do these values make sense? Explore values that might seem questionable.
- Check out how the values for the company name column in the scooters table compare to those of the trips table. What do you notice?

# connecting database to engine

In [1]:
from sqlalchemy import create_engine, text

In [2]:
import pandas as pd

In [3]:
database_name = 'metro_scooters'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
engine = create_engine(connection_string)

# code for sqlalchemy bolt

query = '''
SELECT *
FROM scooters
WHERE companyname = 'Bolt';
'''

with engine.connect() as connection:
    bolt_scooters = pd.read_sql(text(query), con = connection)
    
bolt_scooters.head()

# code for sqlalchemy bird

query = '''
SELECT *
FROM scooters
WHERE companyname = 'Bird';
'''

with engine.connect() as connection:
    bird_scooters = pd.read_sql(text(query), con = connection)
    
bird_scooters.head()

# code for sqlalchemy gotcha

query = '''
SELECT *
FROM scooters
WHERE companyname = 'Gotcha';
'''

with engine.connect() as connection:
    gotcha_scooters = pd.read_sql(text(query), con = connection)
    
gotcha_scooters.head()

# code for sqlalchemy lime 
query = '''
SELECT *
FROM scooters
WHERE companyname = 'Lime';
'''

with engine.connect() as connection:
    lime_scooters = pd.read_sql(text(query), con = connection)
    
lime_scooters.head()

# code for sqlalchemy jump
query = '''
SELECT *
FROM scooters
WHERE companyname = 'Jump';
'''

with engine.connect() as connection:
    jump_scooters = pd.read_sql(text(query), con = connection)
    
jump_scooters.head()

# read in csv of bird scooters

In [5]:
bird_scooters = pd.read_csv('../data/birddf.csv')
bird_scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-30 17:37:28.870,36.141562,-86.806655,PoweredVAW9Y,Powered,95.0,scooter,0.15,Bird
1,2019-07-30 17:37:28.870,36.159744,-86.780067,PoweredSNB79,Powered,58.0,scooter,0.15,Bird
2,2019-07-30 17:37:28.870,36.153569,-86.784961,PoweredZY5KX,Powered,100.0,scooter,0.15,Bird
3,2019-07-30 17:37:28.870,36.155984,-86.782756,PoweredPHVAG,Powered,100.0,scooter,0.15,Bird
4,2019-07-30 17:37:28.870,36.147253,-86.815000,Powered238ZE,Powered,76.0,scooter,0.15,Bird

# read in csv of bolt scooters

In [6]:
bolt_scooters = pd.read_csv('../data/boltdf.csv')
bolt_scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-30 17:34:09,36.158986,-86.777469,Powered-a5530bc9-d4c0-7ad4-7e21-87bcca195865,Powered,65.71,Scooter,0.3,Bolt
1,2019-07-30 17:34:09,36.165869,-86.777765,Powered-751e19ec-b697-a51f-04ea-0bf9a2e125c9,Powered,69.41,Scooter,0.3,Bolt
2,2019-07-30 17:34:09,36.149978,-86.814553,Powered-f4909631-d138-c9ee-cbec-8efc5568b77d,Powered,67.99,Scooter,0.3,Bolt
3,2019-07-30 17:34:09,36.163135,-86.775989,Powered-601cf2bd-1750-3e32-c23a-aabc76b61d65,Powered,94.39,Scooter,0.3,Bolt
4,2019-07-30 17:34:09,36.150896,-86.804663,Powered-4aede0e0-a137-ca41-680e-c9c6b8a54fa9,Powered,99.49,Scooter,0.3,Bolt

# read in csv of gothca scooters

In [7]:
gotcha_scooters = pd.read_csv('../data/gotchadf.csv')
gotcha_scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-30 22:53:32.163,33.792620,-84.402760,Powered2460,Powered,47.0,Scooter,0.15,Gotcha
1,2019-07-30 22:53:32.163,36.121395,-86.769998,Powered775,Powered,0.0,Scooter,0.15,Gotcha
2,2019-07-30 22:53:32.163,36.121441,-86.769995,Powered794,Powered,0.0,Scooter,0.15,Gotcha
3,2019-07-30 22:53:32.163,33.792609,-84.402744,Powered2503,Powered,27.0,Scooter,0.15,Gotcha
4,2019-07-30 22:53:32.163,36.121265,-86.770278,Powered1913,Powered,32.0,Scooter,0.15,Gotcha

# read in csv of jump scooters

In [8]:
jump_scooters = pd.read_csv('../data/jumpdf.csv')
jump_scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-30 17:33:42,36.1195,-86.7534,Powered997dfabc-4fa3-557c-989c-33da0d096d6b,Powered,65.0,scooter,0.06,Jump
1,2019-07-30 17:33:42,36.1199,-86.7534,Poweredba213730-5704-5625-af7f-31c34d960b66,Powered,4.0,scooter,0.06,Jump
2,2019-07-30 17:33:42,36.1199,-86.7533,Poweredd6e29e2c-0f61-57ac-8237-5854332b595f,Powered,3.0,scooter,0.06,Jump
3,2019-07-30 17:33:42,36.1202,-86.7533,Powered7a0a9782-2e7b-5282-9d10-cbe0750c703e,Powered,0.0,scooter,0.06,Jump
4,2019-07-30 17:33:42,36.1199,-86.7534,Powered0d329ae3-b18b-5e2a-9f3f-c2d91679c324,Powered,3.0,scooter,0.06,Jump

# read in csv lime scooters

In [11]:
lime_scooters = pd.read_csv('../data/limedf.csv')
lime_scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-30 17:35:18.710,36.182537,-86.793612,PoweredUD5AZXJ5UMT7B,Powered,75.0,scooter,0.15,Lime
1,2019-07-30 17:35:18.710,36.191159,-86.795243,PoweredEP7AKU3H6GPPG,Powered,38.0,scooter,0.15,Lime
2,2019-07-30 17:35:18.710,36.177788,-86.777875,PoweredSINZNV4OYDROU,Powered,47.0,scooter,0.15,Lime
3,2019-07-30 17:35:18.710,36.182087,-86.735612,Powered6PLOLGBTHDPWE,Powered,55.0,scooter,0.15,Lime
4,2019-07-30 17:35:18.710,36.177627,-86.777723,Powered5R3YEGGZITMVT,Powered,68.0,scooter,0.15,Lime

# read in csv lyft scooters

In [10]:
lyft_scooters = pd.read_csv('../data/lyftdf.csv')
lyft_scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-30 17:34:49.530,36.135925,-86.767207,Powered788160,Powered,48.0,scooter,0.15,Lyft
1,2019-07-30 17:55:09.643,36.162249,-86.790378,Powered334889,Powered,86.0,scooter,0.15,Lyft
2,2019-07-30 17:34:49.677,36.143064,-86.802958,Powered266526,Powered,17.0,scooter,0.15,Lyft
3,2019-07-30 17:34:49.700,36.177629,-86.777725,Powered876748,Powered,66.0,scooter,0.15,Lyft
4,2019-07-30 17:55:09.663,36.145882,-86.816281,Powered037286,Powered,95.0,scooter,0.15,Lyft

# read in csv spin scooters

In [9]:
spin_scooters = pd.read_csv('../data/spindf.csv')
spin_scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-30 17:35:06.990,36.14528,-86.80569,Powered7049691,Powered,92.0,Scooter,0.23,Spin
1,2019-07-30 17:35:06.990,36.16017,-86.77848,Powered8631385,Powered,91.0,Scooter,0.23,Spin
2,2019-07-30 17:35:06.990,36.15249,-86.79480,Powered1741740,Powered,91.0,Scooter,0.23,Spin
3,2019-07-30 17:35:06.990,36.15947,-86.78826,Powered3114843,Powered,78.0,Scooter,0.23,Spin
4,2019-07-30 17:35:06.990,36.16382,-86.77891,Powered8546104,Powered,85.0,Scooter,0.23,Spin

# read in csv of trips table

In [12]:
trips = pd.read_csv('../data/tripsdf.csv')
trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207