In [1]:
from sqlalchemy import create_engine, text

In [2]:
database_name = 'scooters'   

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
connection_string

'postgresql://postgres:postgres@localhost:5432/scooters'

In [3]:
engine = create_engine(connection_string)

In [4]:
engine

Engine(postgresql://postgres:***@localhost:5432/scooters)

In [5]:
query = '''
SELECT *
FROM trips
LIMIT 10;
'''

with engine.connect() as connection:
    result = connection.execute(text(query))

In [6]:
result.fetchone()

(datetime.datetime(2019, 5, 1, 0, 0, 55, 423000), 'Bird', 'BRD2134', 'Powered9EAJL', Decimal('3.0'), Decimal('958.00528'), datetime.date(2019, 5, 1), datetime.time(0, 0, 20, 460000), datetime.date(2019, 5, 1), datetime.time(0, 2, 52, 346666), Decimal('36.1571'), Decimal('-86.8036'), Decimal('36.1566'), Decimal('-86.8067'), '[(36.157235, -86.803612), (36.157235, -86.80362), (36.157226, -86.803642), (36.157226, -86.803665), (36.157226, -86.803665), (36.157226, -86.803665), ... (2204 characters truncated) ... (36.155941, -86.809517), (36.155941, -86.809517), (36.155941, -86.809517), (36.155918, -86.809671), (36.155918, -86.809671), (36.155918, -86.809671)]', datetime.datetime(2019, 5, 2, 5, 30, 23, 780000))

In [7]:
result.fetchall()

[(datetime.datetime(2019, 5, 1, 0, 3, 33, 147000), 'Lyft', 'LFT5', 'Powered296631', Decimal('1.7156'), Decimal('1371.39112'), datetime.date(2019, 5, 1), datetime.time(0, 1, 50, 90000), datetime.date(2019, 5, 1), datetime.time(0, 3, 33, 26666), Decimal('36.15797'), Decimal('-86.77896'), Decimal('36.16054'), Decimal('-86.77689'), '[(36.15797, -86.77896), (36.15795, -86.77873), (36.15798, -86.77859), (36.15809, -86.77822), (36.15825, -86.77785), (36.1583, -86.77768), (36.15838,  ... (92 characters truncated) ... -86.77703), (36.15963, -86.77678), (36.15977, -86.77665), (36.15994, -86.77654), (36.16024, -86.77673), (36.16053, -86.77694), (36.16054, -86.77689)]', datetime.datetime(2019, 5, 2, 7, 20, 32, 757000)),
 (datetime.datetime(2019, 5, 1, 0, 5, 55, 570000), 'Bird', 'BRD2168', 'Powered7S2UU', Decimal('3.0'), Decimal('2296.588'), datetime.date(2019, 5, 1), datetime.time(0, 3, 47, 363333), datetime.date(2019, 5, 1), datetime.time(0, 7, 13, 596666), Decimal('36.1547'), Decimal('-86.7818'), Decimal('36.1565'), Decimal('-86.7868'), '[(36.155068, -86.782124), (36.156597, -86.78675)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 530000)),
 (datetime.datetime(2019, 5, 1, 0, 5, 55, 570000), 'Bird', 'BRD2166', 'PoweredZIIVX', Decimal('3.0'), Decimal('1200.78744'), datetime.date(2019, 5, 1), datetime.time(0, 4, 21, 386666), datetime.date(2019, 5, 1), datetime.time(0, 6, 59, 176666), Decimal('36.1494'), Decimal('-86.7795'), Decimal('36.1531'), Decimal('-86.7796'), '[(36.149741, -86.779344), (36.149741, -86.779327), (36.149741, -86.779327), (36.149741, -86.779327), (36.149761, -86.77929), (36.149761, -86.77929),  ... (1433 characters truncated) ... , (36.153076, -86.779496), (36.153076, -86.779496), (36.153088, -86.77951), (36.153088, -86.77951), (36.153103, -86.779519), (36.153103, -86.779519)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 237000)),
 (datetime.datetime(2019, 5, 1, 0, 5, 55, 570000), 'Bird', 'BRD2165', 'PoweredJ7MB3', Decimal('2.0'), Decimal('351.04988'), datetime.date(2019, 5, 1), datetime.time(0, 4, 27, 796666), datetime.date(2019, 5, 1), datetime.time(0, 6, 23, 150000), Decimal('36.1778'), Decimal('-86.7866'), Decimal('36.1774'), Decimal('-86.7876'), '[(36.177699, -86.786477), (36.177711, -86.786469), (36.177715, -86.786469), (36.177715, -86.786469), (36.177715, -86.786469), (36.177753, -86.786469) ... (885 characters truncated) ... ), (36.17741, -86.787652), (36.177383, -86.78775), (36.177383, -86.78775), (36.177383, -86.787766), (36.177383, -86.787766), (36.177383, -86.787766)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 207000)),
 (datetime.datetime(2019, 5, 1, 0, 5, 55, 570000), 'Bird', 'BRD2167', 'PoweredEJF1K', Decimal('3.0'), Decimal('984.252'), datetime.date(2019, 5, 1), datetime.time(0, 3, 56, 546666), datetime.date(2019, 5, 1), datetime.time(0, 6, 45, 786666), Decimal('36.1544'), Decimal('-86.7862'), Decimal('36.1515'), Decimal('-86.7844'), '[(36.154368, -86.785909), (36.151689, -86.784331), (36.151619, -86.784294), (36.151562, -86.784313)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 317000)),
 (datetime.datetime(2019, 5, 1, 0, 7, 55, 880000), 'Lyft', 'LFT10', 'Powered329418', Decimal('1.0939166667'), Decimal('0.0'), datetime.date(2019, 5, 1), datetime.time(0, 6, 50, 106666), datetime.date(2019, 5, 1), datetime.time(0, 7, 55, 740000), Decimal('36.15168'), Decimal('-86.78408'), Decimal('36.15171'), Decimal('-86.78411'), '[(36.15168, -86.78408), (36.15171, -86.78411)]', datetime.datetime(2019, 5, 2, 7, 20, 32, 890000)),
 (datetime.datetime(2019, 5, 1, 0, 10, 50, 240000), 'Lyft', 'LFT13', 'Powered438572', Decimal('2.9543833333'), Decimal('1161.41736'), datetime.date(2019, 5, 1), datetime.time(0, 7, 52, 853333), datetime.date(2019, 5, 1), datetime.time(0, 10, 50, 116666), Decimal('36.15193'), Decimal('-86.78439'), Decimal('36.15463'), Decimal('-86.78492'), '[(36.15193, -86.78439), (36.15188, -86.78432), (36.15186, -86.78425), (36.15199, -86.78421), (36.15207, -86.78412), (36.15219, -86.78404), (36.15233, ... (203 characters truncated) ... 4, -86.78436), (36.15392, -86.78445), (36.15405, -86.7846), (36.15427, -86.78473), (36.1545, -86.78487), (36.1546, -86.78491), (36.15463, -86.78492)]', datetime.datetime(2019, 5, 2, 7, 20, 32, 990000)),
 (datetime.datetime(2019, 5, 1, 0, 10, 56, 13000), 'Bird', 'BRD2193', 'PoweredSX2AW', Decimal('6.0'), Decimal('2624.672'), datetime.date(2019, 5, 1), datetime.time(0, 6, 34, 436666), datetime.date(2019, 5, 1), datetime.time(0, 12, 48, 676666), Decimal('36.1708'), Decimal('-86.7893'), Decimal('36.1746'), Decimal('-86.786'), '[(36.170995, -86.789593), (36.173193, -86.791207), (36.174235, -86.787287), (36.174353, -86.787131), (36.174687, -86.785989), (36.174634, -86.78593), (36.174676, -86.785968), (36.174864, -86.786073)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 833000)),
 (datetime.datetime(2019, 5, 1, 0, 10, 56, 13000), 'Bird', 'BRD2194', 'PoweredL968V', Decimal('6.0'), Decimal('2624.672'), datetime.date(2019, 5, 1), datetime.time(0, 5, 36, 870000), datetime.date(2019, 5, 1), datetime.time(0, 11, 19, 183333), Decimal('36.1565'), Decimal('-86.7971'), Decimal('36.1512'), Decimal('-86.7968'), '[(36.15654, -86.797137), (36.153065, -86.798047), (36.151263, -86.796712)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 920000))]

In [8]:
import pandas as pd

In [10]:
with engine.connect() as connection:
    trips = pd.read_sql(text(query), con = connection)

trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207