# Import sqlalchemy

In [1]:
from sqlalchemy import create_engine, text

# Create a connection string.

In [2]:
database_name = 'scooters'    # Fill this in with your lahman database name ##scooters

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

# Create an engine

In [3]:
engine = create_engine(connection_string)

In [4]:
engine

Engine(postgresql://postgres:***@localhost:5432/scooters)

# Import pandas

In [5]:
import pandas as pd

# query connect

In [6]:
query = '''
SELECT *
FROM trips
LIMIT 100;
'''

with engine.connect() as connection:
    scooters = pd.read_sql(text(query), con = connection)
    
scooters

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.000000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.715600,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.000000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.000000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.000000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019-05-01 00:35:56.717,Bird,BRD2302,PoweredISXDY,17.000000,8202.10000,2019-05-01,00:18:55.406666,2019-05-01,00:36:04.586666,36.16730,-86.78300,36.15440,-86.79890,"[(36.166937, -86.782786), (36.165893, -86.7818...",2019-05-02 05:30:28.523
96,2019-05-01 00:37:02.933,Lyft,LFT59,Powered980721,15.817283,11404.19984,2019-05-01,00:21:13.733333,2019-05-01,00:37:02.770000,36.15840,-86.77693,36.16908,-86.76753,"[(36.1584, -86.77693), (36.15845, -86.7769), (...",2019-05-02 07:20:34.490
97,2019-05-01 00:37:39.827,Lyft,LFT61,Powered594191,16.260350,11033.46492,2019-05-01,00:21:24.126666,2019-05-01,00:37:39.750000,36.15843,-86.77686,36.16911,-86.76755,"[(36.15843, -86.77686), (36.15838, -86.7769), ...",2019-05-02 07:20:34.553
98,2019-05-01 00:37:41.263,Lyft,LFT62,Powered251145,8.953833,633.20212,2019-05-01,00:28:43.906666,2019-05-01,00:37:41.136666,36.16255,-86.77552,36.16285,-86.77590,"[(36.16255, -86.77552), (36.16259, -86.77561),...",2019-05-02 07:20:34.590
99,2019-05-01 00:39:22.380,Lyft,LFT63,Powered915923,12.783283,13989.50176,2019-05-01,00:26:35.293333,2019-05-01,00:39:22.290000,36.14112,-86.79115,36.14984,-86.76578,"[(36.14112, -86.79115), (36.1412, -86.79111), ...",2019-05-02 07:20:34.620