In [1]:
from sqlalchemy import create_engine, text
import geopandas as gpd
import pandas as pd

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [2]:
database_name = 'scooters'# Fill this in with your database name 

connection_string = f"postgresql://postgres:postgres@localhost:5433/{database_name}"

In [3]:
connection_string

'postgresql://postgres:postgres@localhost:5433/scooters'

Now, we need to create an engine and use it to connect.

In [4]:
engine = create_engine(connection_string)

In [5]:
engine

Engine(postgresql://postgres:***@localhost:5433/scooters)

Now, we can create our query and pass it into the `.query()` method.

In [6]:
query = '''
SELECT *
FROM scooters 
LIMIT 10;
'''

with engine.connect() as connection:
    result = connection.execute(text(query))

In [7]:
result.fetchone()

(datetime.datetime(2019, 7, 20, 5, 20, 43), Decimal('36.119900'), Decimal('-86.753400'), 'Powered04a47904-7a63-515a-94af-56e7e88be868', 'Powered', Decimal('0.00'), 'scooter', Decimal('0.06'), 'Jump')

In [8]:
with engine.connect() as connection:
    scooters_query = pd.read_sql_query(text(query), con = connection)

scooters_query.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-20 20:21:05.273,36.121310,-86.770446,Powered401,Powered,98.0,Scooter,0.15,Gotcha
1,2019-07-20 20:21:05.273,36.121358,-86.770465,Powered1895,Powered,93.0,Scooter,0.15,Gotcha
2,2019-07-20 20:21:05.273,36.121294,-86.770376,Powered384,Powered,65.0,Scooter,0.15,Gotcha
3,2019-07-20 20:21:05.273,36.121580,-86.770475,Powered1984,Powered,38.0,Scooter,0.15,Gotcha
4,2019-07-20 20:21:05.273,36.121479,-86.770070,Powered661,Powered,6.0,Scooter,0.15,Gotcha

In [9]:
query = '''
SELECT * 
FROM scooters
LIMIT 100;
'''

with engine.connect() as connection:
    scooters_query = pd.read_sql(text(query), con = connection)

scooters_query.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-21 16:25:58.730,36.141028,-86.804971,PoweredPEXNR,Powered,70.0,scooter,0.15,Bird
1,2019-07-21 16:25:58.730,36.155506,-86.785105,Powered5D2ZE,Powered,96.0,scooter,0.15,Bird
2,2019-07-21 16:25:58.730,36.177910,-86.791304,PoweredCGFQE,Powered,96.0,scooter,0.15,Bird
3,2019-07-21 16:25:58.730,36.165461,-86.779349,PoweredAGRAY,Powered,88.0,scooter,0.15,Bird
4,2019-07-21 16:25:58.730,36.154741,-86.786108,Powered1ACJT,Powered,99.0,scooter,0.15,Bird

scooters data: 
scooters table - 73,414,043 rows
trips table - 565,522
10012 distinct IDs scooters in scooters table, 9005 distinct IDs in trips table

distinct company names in both tables: 

"Bird"

"Bolt"
"Bolt Mobility"

"Gotcha"

"Jump"
"JUMP"

"Lime"

"Lyft"

"Spin"
"SPIN"

## Company name/count

"Jump"	 21,835,098
"Lime"	 16,524,261
"Bird"	 12,251,590
"Lyft"	  9,087,043
"Spin"	  5,559,573
"Gotcha"  4,679,280
"Bolt"	  3,477,198

## Uploading Using SQLAlchemy
use this format if you need to directly load the dataframes from SQL (do this 7 more times - filter scooters by company name): 

query = '''
SELECT *
FROM trips;
'''
with engine.connect() as connection:
    tripsdf = pd.read_sql(text(query), con = connection)
tripsdf.head()

incase I need to send or access later, turn trips into a csv: 
#trips.to_csv("tripsdf.csv", index=False)

## Reading all other files as csv's (smallest to largest):

In [17]:
tripsdf = pd.read_csv('data/tripsdf.csv')

In [44]:
boltdf = pd.read_csv('data/boltdf.csv')

In [ ]:
gotchadf = pd.read_csv('data/gotchadf.csv')

In [ ]:
spindf = pd.read_csv('data/spindf.csv')

In [ ]:
lyftdf = pd.read_csv('data/lyftdf.csv')

In [ ]:
birddf = pd.read_csv('data/birddf.csv')

In [ ]:
limedf = pd.read_csv('data/limedf.csv')

In [ ]:
jumpdf = pd.read_csv('data/jumpdf.csv')

## Double check the number of rows to make sure it is correct:

#jumpdf.shape

#limedf.shape

#birddf.shape

#lyftdf.shape

#spindf.shape

#gotchadf.shape

#boltdf.shape

#tripsdf.shape

## Now combine the dataframes to recreate the scooters table as a dataframe:

#Create a list will all the data frames, then concatenate it and define it as "scootersdf"
scooters_list = [birddf, boltdf, gotchadf, jumpdf, limedf, lyftdf, spindf]
scootersdf = pd.concat(scooters_list)

#check that the number of rows looks correct and the data types were converted
#scootersdf.shape

#scootersdf.dtypes

#tripsdf.dtypes

#now merge scooters with the trips table to create a full dataframe with all data
#scootersdf.merge(tripsdf, left_on='sumdid', right_on='sumdid')
   
#scooters_df = pd.merge(scootersdf, tripsdf,  how='left', left_on=['sumdid','pubdatetime'], right_on = ['sumdid','pubtimestamp'])

#could not get this part to work bc of the size, will come back to it

scootersdf.head()

### This didnt work because combining all the companies data makes the file too big to run most python code, so I put this in mark dwon and will run each code on the individual comapny dataframes instead

## Metro Scooters Analysis
In May of 2018, Bird dropped hundreds of scooters on the streets of Nashville with no permission. In response, Metro sued, which caused Bird to remove and wait for permits. Metro began developing regulations for scooters and other shared urban mobility devices (SUMDs). In 2019, the Metro Council passed legislation enacting a one-year pilot program for scooters. For this project, you have been provided with the data for 3 months of this pilot program with the goal of reporting on usage trends and generating recommendations for quantity and distribution of scooters in Nashville.

Metro would like to know what the ideal density of available scooters is, which balances the objectives of
enabling scooters to serve transportation goals,
discouraging scooters from piling up on sidewalks,
keeping it economically viable for companies to operate equitably in the city.

This data for this project can be downloaded as a Postgres backup from https://drive.google.com/file/d/1BXAfByFvHCwX0G1BvTCQ373qKm7wE4Y-/view?usp=share_link.

Some notes about the data:
* When not in use, each scooter will report its location every five minutes. This data is contained in the scooters table.
* WARNING: Both tables contain a large number of records, so think carefully about what data you need to pull in a given query. If you try and pull in all rows from the scooters table, there is a very good chance that you will crash your notebook!

#### Are there any null values in any columns in either table?

#Check for null values in the scooters table/DF: 
scootersdf.isna().any()

tripsdf.isna().any()

#Note: The only NULL values are in the charge level from the trips table:

#### What date range is represented in each of the date columns? Investigate any values that seem odd.

#change the date columns in scooters and trips dataframes to be datetime formats
scootersdf['pubdatetime'] = pd.to_datetime(scootersdf['pubdatetime'], format = 'mixed')
tripsdf['pubtimestamp'] = pd.to_datetime(tripsdf['pubtimestamp'], format = 'mixed')

#scooters_table_date_range = 'Date range for scooters table: ' + str(scootersdf['pubdatetime'].dt.date.min()) + ' to ' +str(scootersdf['pubdatetime'].dt.date.max())
#print(scooters_table_date_range)

#trips_table_date_range = 'Date range for trips table: ' + str(tripsdf['pubtimestamp'].dt.date.min()) + ' to ' +str(tripsdf['pubtimestamp'].dt.date.max())
#print(trips_table_date_range)

#### Date range for scooters table: 2019-05-01 to 2019-07-31

#### Date range for trips table: 2019-05-01 to 2019-08-01

## Still need to convert each individual company data to correct time format:

In [45]:
boltdf['pubdatetime'] = pd.to_datetime(boltdf['pubdatetime'], format = 'mixed')

In [ ]:
gotchadf['pubdatetime'] = pd.to_datetime(gotchadf['pubdatetime'], format = 'mixed')

In [ ]:
spindf['pubdatetime'] = pd.to_datetime(spindf['pubdatetime'], format = 'mixed')

In [ ]:
lyftdf['pubdatetime'] = pd.to_datetime(lyftdf['pubdatetime'], format = 'mixed')

In [ ]:
birddf['pubdatetime'] = pd.to_datetime(birddf['pubdatetime'], format = 'mixed')

In [ ]:
limedf['pubdatetime'] = pd.to_datetime(limedf['pubdatetime'], format = 'mixed')

In [ ]:
jumpdf['pubdatetime'] = pd.to_datetime(jumpdf['pubdatetime'], format = 'mixed')

In [18]:
tripsdf['pubtimestamp'] = pd.to_datetime(tripsdf['pubtimestamp'], format = 'mixed')

#### Is time represented with am/pm or using 24 hour values in each of the columns that include time?

#check the datetime columns
#scootersdf.head()
#tripsdf.tail(100)

##### both are in 24 hour time

#### What values are there in the sumdgroup column? Are there any that are not of interest for this project?

#group by sumdgroup and count values (takes forever though)
#scootersdf.groupby(['sumdgroup']).value_counts()

#Alternatively (a bit faster): 
scootersdf.value_counts(subset='sumdgroup')

#### There is no need to have the bicycle group

#### What are the minimum and maximum values for all the latitude and longitude columns? Do these ranges make sense, or is there anything surprising?

In [ ]:
#read in zip codes file
zipcodes = gpd.read_file('data/zipcodes.geojson')
print(zipcodes.crs)
zipcodes.head( )

In [ ]:
#clean up the zipcodes dataframe to only relevant info
zipcodes = zipcodes[['zip', 'po_name', 'geometry']]

scooters_geo = gpd.GeoDataFrame(scootersdf, 
                           crs = zipcodes.crs, 
                           geometry = gpd.points_from_xy(scootersdf.longitude, scootersdf.latitude))

type(scooters_geo)

#predicates you can use in the next line of code (geopandas sjoin)
#scooters_geo.sindex.valid_query_predicates

{None,
 'contains',
 'contains_properly',
 'covered_by',
 'covers',
 'crosses',
 'intersects',
 'overlaps',
 'touches',
 'within'}

scooters_inside_zip = gpd.sjoin(scooters_geo, zipcodes, predicate = 'within')

scooters_inside_zip.shape

type(scooters_inside_zip)

## scooters full dataframe is taking way to long to sjoin so I am breaking it back up by company

In [ ]:
boltdf.head()

In [ ]:
bolt_geo = gpd.GeoDataFrame(boltdf, 
                           crs = zipcodes.crs, 
                           geometry = gpd.points_from_xy(boltdf.longitude, boltdf.latitude))

In [ ]:
bolt_in_nash = gpd.sjoin(bolt_geo, zipcodes, predicate = 'within')

In [ ]:
bolt_in_nash.head()

In [ ]:
gotcha_geo = gpd.GeoDataFrame(gotchadf, 
                           crs = zipcodes.crs, 
                           geometry = gpd.points_from_xy(gotchadf.longitude, gotchadf.latitude))

In [ ]:
gotcha_in_nash = gpd.sjoin(gotcha_in_nash, zipcodes, predicate = 'within')

In [ ]:
gotcha_in_nash.groupby(['companyname']).value_counts()

In [ ]:
spin_geo = gpd.GeoDataFrame(spindf, 
                           crs = zipcodes.crs, 
                           geometry = gpd.points_from_xy(spindf.longitude, spindf.latitude))

In [ ]:
lyft_geo = gpd.GeoDataFrame(lyftdf, 
                           crs = zipcodes.crs, 
                           geometry = gpd.points_from_xy(lyftdf.longitude, lyftdf.latitude))

In [ ]:
bird_geo = gpd.GeoDataFrame(birddf, 
                           crs = zipcodes.crs, 
                           geometry = gpd.points_from_xy(birddf.longitude, birddf.latitude))

In [ ]:
lime_geo = gpd.GeoDataFrame(limedf, 
                           crs = zipcodes.crs, 
                           geometry = gpd.points_from_xy(limedf.longitude, limedf.latitude))

In [ ]:
jump_geo = gpd.GeoDataFrame(jumpdf, 
                           crs = zipcodes.crs, 
                           geometry = gpd.points_from_xy(jumpdf.longitude, jumpdf.latitude))

In [ ]:
trips_start_geo = gpd.GeoDataFrame(tripsdf, 
                           crs = zipcodes.crs, 
                           geometry = gpd.points_from_xy(tripsdf.startlongitude, tripsdf.startlatitude))
trips_end_geo = gpd.GeoDataFrame(tripsdf, 
                           crs = zipcodes.crs, 
                           geometry = gpd.points_from_xy(tripsdf.endlongitude, tripsdf.endlatitude))

#### What is the range of values for trip duration and trip distance? Do these values make sense? Explore values that might seem questionable.

In [ ]:
tripsdf.head()

#### Check out how the values for the company name column in the scooters table compare to those of the trips table. What do you notice?

1. During this period, seven companies offered scooters. How many scooters did each company have in this time frame? Did the number for each company change over time? Did scooter usage vary by company?

In [13]:
query = '''
SELECT
    companyname AS company,
    COUNT(DISTINCT sumdid) AS units
FROM
    scooters
WHERE
    sumdgroup ILIKE 'scooter'
GROUP BY
    companyname;
'''
with engine.connect() as connection:
    company_scooters = pd.read_sql(text(query), con = connection)
company_scooters.head()

  company  units
0    Bird   3860
1    Bolt    360
2  Gotcha    224
3    Jump   1210
4    Lime   1818

In [58]:
bolt_scooters_py = boltdf[['companyname', 'sumdid']].groupby(['companyname'])['sumdid']\
                                                        .nunique()\
                                                        .reset_index(name = 'count')\
                                                        .sort_values(['count'])

In [59]:
bolt_scooters_py.head()

  companyname  count
0        Bolt    360

2. According to Second Substitute Bill BL2018-1202 (as amended) (https://web.archive.org/web/20181019234657/https://www.nashville.gov/Metro-Clerk/Legislative/Ordinances/Details/7d2cf076-b12c-4645-a118-b530577c5ee8/2015-2019/BL2018-1202.aspx), all permitted operators will first clean data before providing or reporting data to Metro. Data processing and cleaning shall include:  
* Removal of staff servicing and test trips  
* Removal of trips below one minute  
* Trip lengths are capped at 24 hours  
Are the scooter companies in compliance with the second and third part of this rule?

3. The goal of Metro Nashville is to have each scooter used a minimum of 3 times per day. Based on the data, what is the average number of trips per scooter per day? Make sure to consider the days that a scooter was available. How does this vary by company?

In [42]:
#tried to do this but it didn't work:
#tripsdf['startdate'] = pd.to_datetime(tripsdf['startdate'], dayfirst=False, format = 'mixed')
#tripsdf['day'] = tripsdf['startdate'].dt.day
#tripsdf.groupby(tripsdf['day']).values_count()

AttributeError: 'DataFrameGroupBy' object has no attribute 'values_count'

In [38]:
short_trips = tripsdf.query('`tripduration`<1')
short_trips[['companyname', 'sumdid']].groupby(['companyname'])['sumdid'].nunique().reset_index(name = 'count').sort_values(['count'])
long_trips = tripsdf.query('`tripduration`<1440')

In [40]:
short_trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt,day
15,2019-05-01 01:15:58.413,Bird,BRD2472,PoweredKU3Z3,0.000000,0.0,2019-05-01,01:17:28.820000,2019-05-01,01:17:45.083333,36.17540,-86.75590,36.17540,-86.75590,"[(36.175385, -86.755707), (36.175385, -86.7557...",2019-05-02 05:30:33.110,1
61,2019-05-01 00:25:56.567,Bird,BRD2254,PoweredUNKNOWN,0.000000,0.0,2019-05-01,00:26:58.376666,2019-05-01,00:27:07.540000,36.15180,-86.81520,36.15180,-86.81520,[],2019-05-02 05:30:26.497,1
80,2019-05-01 00:32:10.820,Lyft,LFT53,Powered760381,0.510567,0.0,2019-05-01,00:31:40.083333,2019-05-01,00:32:10.716666,36.15935,-86.77406,36.15932,-86.77398,"[(36.15935, -86.77406), (36.15932, -86.77398),...",2019-05-02 07:20:34.297,1
153,2019-05-01 00:54:34.937,Lyft,LFT91,Powered958352,0.174650,0.0,2019-05-01,00:54:24.356666,2019-05-01,00:54:34.833333,36.14886,-86.81342,36.14885,-86.81339,"[(36.14886, -86.81342), (36.14885, -86.81339)]",2019-05-02 07:20:35.530,1
192,2019-05-03 19:19:06.590,Bird,BRD1578,PoweredUNKNOWN,0.000000,0.0,2019-05-03,19:20:43.206666,2019-05-03,19:20:57.056666,36.16140,-86.77760,36.16140,-86.77760,[],2019-05-04 05:31:21.447,3

In [34]:
sumdid_per_day = tripsdf.groupby(['sumdid', 'startdate']).size()\
    .reset_index(name='times_used_per_day')
sumdid_per_day.head()

                                         sumdid  startdate  times_used_per_day
0  Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619 2019-05-24                   1
1  Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619 2019-05-25                   2
2  Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619 2019-05-26                   7
3  Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619 2019-05-27                   4
4  Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619 2019-05-29                   1

In [50]:
sumdid_per_day['times_used_per_day'].mean()

2.793225395382837

In [49]:
(tripsdf
 .assign(day_name = tripsdf['startdate'].dt.day_name())
 .groupby('day_name')
 ['sumdid']
 .nunique()
)

day_name
Friday       7993
Monday       7612
Saturday     8241
Sunday       8022
Thursday     7636
Tuesday      7429
Wednesday    7679
Name: sumdid, dtype: int64

In [ ]:
tripsdf[['companyname', 'sumdid', 'startdate']].groupby(['companyname', 'startdate'])['sumdid'].nunique

In [52]:
query = '''
SELECT
    sumdid
    COUNT(*) AS num_trips
FROM trips;
'''
with engine.connect() as connection:
    trips_per_scooter = pd.read_sql(text(query), con = connection)
trips_per_scooter.head()

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "("
LINE 4:     COUNT(*) AS num_trips
                 ^

[SQL:
SELECT
    sumdid
    COUNT(*) AS num_trips
FROM trips;
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [55]:
#this is the one that works
scooter_trips_per_day = sumdid_per_day.groupby('sumdid')['times_used_per_day'].sum().reset_index()
scooter_trips_per_day.head()

                                         sumdid  times_used_per_day
0  Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619                  92
1  Powered-01a24436-0315-e1bb-7ce0-d081d05dff7d                  57
2  Powered-03be23ca-d43b-222f-be54-e44b5b4690df                  81
3  Powered-046201fb-6532-1f37-6334-3612fb1e61f7                  71
4  Powered-0479bb84-afbd-0426-f1c4-df628542a88c                  96

In [56]:
company_scooters_py = scootersdf[['companyname', 'sumdid']].groupby(['companyname'])['sumdid']\
                                                        .nunique()\
                                                        .reset_index(name = 'count')\
                                                        .sort_values(['count'])

NameError: name 'scootersdf' is not defined

4. Metro would like to know how many scooters are needed, and something that could help with this is knowing peak demand. Estimate the highest count of scooters being used at the same time. When were the highest volume times? Does this vary by zip code or other geographic region?

In [1]:
#Adell
peak_time = tripsdf[['companyname', 'sumdid', 'starttime']].groupby(['starttime'])['starttime']\
                                                        .count()\
                                                        .reset_index(name = 'trips_count')\
                                                        .sort_values(['trips_count'], ascending=False)
peak_time.head(10)

NameError: name 'tripsdf' is not defined

for each scooter: 
    how many trips that scooter made? 
    and how active was that scooter (did it make 50 trips in one day vs multiple days, for example)

5. **Stretch Goal:** SUMDs can provide alternative transportation and provide "last mile" access to public transit. How often are trips starting near public transit hubs? You can download a dataset of bus stop locations from https://data.nashville.gov/Transportation/WeGo-Transit-Bus-Stops/vfe9-k7vc/about_data.

Deliverables:
At the conclusion of this project, your group should deliver a presentation which addresses the following points:
* Are scooter companies in compliance with the required data cleaning?
* What are typical usage patterns for scooters in terms of time, location, and trip duration?
* What are your recommendations for total number of scooters for the city overall and density of scooters by zip code?
* **Stretch Goal:** Does it appear that scooters are used as "last mile" transportation from public transit hubs to work or school?