- Is time represented with am/pm or using 24 hour values in each of the columns that include time?
- What values are there in the sumdgroup column? Are there any that are not of interest for this project?
- What are the minimum and maximum values for all the latitude and longitude columns? Do these ranges make sense, or is there anything surprising?
-What is the range of values for trip duration and trip distance? Do these values make sense? Explore values that might seem questionable.
- Check out how the values for the company name column in the scooters table compare to those of the trips table. What do you notice?

from sqlalchemy import create_engine, text

database_name = 'scooters'
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

connection_string

engine = create_engine(connection_string)

engine

#Initial EDA
query = '''
SELECT *
FROM scooters
LIMIT 10;
'''

with engine.connect() as connection:
    result = connection.execute(text(query))

result.fetchall()

In [8]:
import pandas as pd

query = '''
SELECT *
FROM scooters
WHERE companyname = 'Bird';
'''

with engine.connect() as connection:
    bird = pd.read_sql(text(query), con = connection)

bird.head()

bird.to_csv("birddf.csv", index = False)

In [9]:
#read in bird
birddf = pd.read_csv('../data/birddf.csv')

In [10]:
birddf.shape

(12251590, 9)

query = '''
SELECT *
FROM scooters
WHERE companyname = 'Bolt';
'''

with engine.connect() as connection:
    bolt = pd.read_sql(text(query), con = connection)

bolt.head()

bolt.to_csv("boltdf.csv", index = False)

In [11]:
#Read in bolt
boltdf = pd.read_csv('../data/boltdf.csv')

In [12]:
boltdf.shape

(3477198, 9)

query = '''
SELECT *
FROM scooters
WHERE companyname = 'Gotcha';
'''

with engine.connect() as connection:
    gotcha = pd.read_sql(text(query), con = connection)

gotcha.head()

gotcha.to_csv("gotchadf.csv", index = False)

In [13]:
#Read in gotcha
gotchadf = pd.read_csv('../data/gotchadf.csv')

In [14]:
gotchadf.shape

(4679280, 9)

query = '''
SELECT *
FROM scooters
WHERE companyname = 'Jump';
'''

with engine.connect() as connection:
    jump = pd.read_sql(text(query), con = connection)

jump.head()

#Saving jump to csv

jump.to_csv("jumpdf.csv", index = False)

In [15]:
#Read in jump
jumpdf = pd.read_csv('../data/jumpdf.csv')

In [16]:
jumpdf.shape

(21835098, 9)

query = '''
SELECT *
FROM scooters
WHERE companyname = 'Lime';
'''

with engine.connect() as connection:
    lime = pd.read_sql(text(query), con = connection)

lime.head()

lime.to_csv("limedf.csv", index = False)

In [18]:
limedf = pd.read_csv('../data/limedf.csv')

In [19]:
limedf.shape

(16524261, 9)

query = '''
SELECT *
FROM scooters
WHERE companyname = 'Lyft';
'''

with engine.connect() as connection:
    lyft = pd.read_sql(text(query), con = connection)

lyft.head()

lyft.to_csv("lyftdf.csv", index = False)

In [20]:
lyftdf = pd.read_csv('../data/lyftdf.csv')

In [21]:
lyftdf.shape

(9087043, 9)

query = '''
SELECT *
FROM scooters
WHERE companyname = 'Spin';
'''

with engine.connect() as connection:
    spin = pd.read_sql(text(query), con = connection)

spin.head()

spin.to_csv("spindf.csv", index = False)

In [22]:
spindf = pd.read_csv('../data/spindf.csv')

In [23]:
spindf.shape

(5559573, 9)

query = '''
SELECT *
FROM trips;
'''

with engine.connect() as connection:
    tripsdf = pd.read_sql(text(query), con = connection)

tripsdf.head()

tripsdf.to_csv("tripsdf.csv", index = False)

query = '''
SELECT *
FROM trips;
'''

with engine.connect() as connection:
    trips = pd.read_sql(text(query), con = connection)

trips.head()

In [24]:
tripsdf = pd.read_csv('../data/tripsdf.csv')

In [26]:
tripsdf.shape

(565522, 16)

## - Are there any null values in any columns in either table?

In [27]:
#Checking for NaN values in the bird company
birddf.isna().any()

pubdatetime    False
latitude       False
longitude      False
sumdid         False
sumdtype       False
chargelevel    False
sumdgroup      False
costpermin     False
companyname    False
dtype: bool

In [28]:
#Checking for NaN values in the bolt company
boltdf.isna().any()

pubdatetime    False
latitude       False
longitude      False
sumdid         False
sumdtype       False
chargelevel     True
sumdgroup      False
costpermin     False
companyname    False
dtype: bool

## - What date range is represented in each of the date columns? Investigate any values that seem odd.