- Are there any null values in any columns in either table?
- What date range is represented in each of the date columns? Investigate any values that seem odd.
- Is time represented with am/pm or using 24 hour values in each of the columns that include time?
- What values are there in the sumdgroup column? Are there any that are not of interest for this project?
- What are the minimum and maximum values for all the latitude and longitude columns? Do these ranges make sense, or is there anything surprising?
-What is the range of values for trip duration and trip distance? Do these values make sense? Explore values that might seem questionable.
- Check out how the values for the company name column in the scooters table compare to those of the trips table. What do you notice?

In [1]:
from sqlalchemy import create_engine, text

In [2]:
database_name = 'scooters'
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
connection_string

'postgresql://postgres:postgres@localhost:5432/scooters'

In [4]:
engine = create_engine(connection_string)

In [5]:
engine

Engine(postgresql://postgres:***@localhost:5432/scooters)

In [6]:
query = '''
SELECT *
FROM scooters
LIMIT 10;
'''

with engine.connect() as connection:
    result = connection.execute(text(query))

In [7]:
result.fetchall()

[(datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.136822'), Decimal('-86.799877'), 'PoweredLIRL1', 'Powered', Decimal('93.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.191252'), Decimal('-86.772945'), 'PoweredXWRWC', 'Powered', Decimal('35.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.144752'), Decimal('-86.806293'), 'PoweredMEJEH', 'Powered', Decimal('90.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162056'), Decimal('-86.774688'), 'Powered1A7TC', 'Powered', Decimal('88.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.150973'), Decimal('-86.783109'), 'Powered2TYEF', 'Powered', Decimal('98.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.157188'), Decimal('-86.769978'), 'Powered3F3VK', 'Powered', Decimal('82.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.154348'), Decimal('-86.784765'), 'PoweredVL7YG', 'Powered', Decimal('56.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.158930'), Decimal('-86.775987'), 'Powered5LNUG', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.135993'), Decimal('-86.804226'), 'Powered7SPQQ', 'Powered', Decimal('85.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.148938'), Decimal('-86.811256'), 'PoweredBV1DT', 'Powered', Decimal('65.00'), 'scooter', Decimal('0.00'), 'Bird')]

In [8]:
import pandas as pd

In [9]:
query = '''
SELECT *
FROM trips
LIMIT 10;
'''

with engine.connect() as connection:
    scooters = pd.read_sql(text(query), con = connection)

scooters.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207